<form onsubmit="return false;" class="form-inline">
<div class="form-group">
    <label for=repositoryFilter">Filter:&nbsp;</label>
    <input id="repositoryFilter" type="text" class="form-control" placeholder="Filter"/>
</div>    
</form>
<table class="table table-condensed repositories" data-page-size="20" data-limit-navigation="10" data-filter="#repositoryFilter">
    <thead>
        <th data-sort-initial="true">Repository</th>
        <th>Importance</th>
        <th data-sort-ignore="true">Description</th>
        <th>Language</th>
    </thead>
    <tbody>
        {{#each repositories}}
            <tr>
                <td class="repository"><i class="fa fa-github" title="github"></i>&nbsp;<a href="{{html_url}}" title="{{full_name}}">{{name}}</a></td>
                <td>{{metadata.repoCop.importance}}</td>
                <td>{{metadata.description}}</td>
                <td>{{language}}</td>
            </tr>
        {{else}}
            <tr>                
                <td colspan="4">There are no repositories</td>
            </tr>
        {{/each}}        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-center">
                <ul class="pagination pagination-centered hide-if-no-paging"></ul>
            </td>
        </tr>
    </tfoot>
</table>
