<form onsubmit="return false;" class="form-inline tableFilter">
    <div class="form-group">
        <label for=repositoryFilter">Search&nbsp;</label>
        <input id="repositoryFilter" type="text" class="form-control" placeholder="search text">
    </div>    
</form>
<table class="table table-condensed table-hover repositories" data-page-size="18" data-limit-navigation="10" data-filter="#repositoryFilter">
    <thead>
        <th class="provider" data-sort-ignore="true">&nbsp;</th>
        <th class="repository" data-sort-initial="true">Repository</th>
        <th class="importance">Importance</th>        
        <th class="description">Description</th>
        <th class="lastCommit" data-sort-ignore="false">Last Commit</th>
        <th class="activity" data-sort-ignore="true">Activity</th>
        <th class="language">Language</th>
    </thead>
    <tbody>
        {{#each repositories}}
            <tr class="{{#if error}}text-danger{{/if}}">
                <td class="provider"  data-value="github {{#if error}}error{{/if}}">
                    {{#if error}}
                        <i class="fa fa-exclamation-triangle" title="{{error.message}}"></i>
                    {{else}}    
                        <i class="fa fa-github" title="github" data-value="github"></i>                  
                    {{/if}}
                </td>
                <td class="repository">
                    {{#if html_url}}
                        <a href="{{html_url}}" title="{{full_name}}">{{name}}</a>
                    {{else}}
                        <div title="{{full_name}}">{{name}}</div>
                    {{/if}}
                </td>                    
                <td class="importance" data-value="{{{ importanceValue metadata.importance }}}">{{metadata.importance}}</td>
                <td class="description" title="{{#if metadata.description}}{{metadata.description}}{{else}}{{description}}{{/if}}">
                    {{#if metadata.description}}                        
                        {{metadata.description}}
                    {{else}}
                        {{description}}
                    {{/if}}
                </td>
                <td class="lastCommit" data-value="{{ activity.0.date }}">{{{ fromNow activity.0.date }}}</td>
                <td class="activity">
                    {{#each activity}}
                        {{#if avatar_url}}
                            <a href="{{html_url}}"><img class="avatar" src="{{avatar_url}}" title="{{name}} - {{message}} - {{{ fromNow date }}}"></a>
                        {{else}}                   
                            <i class="fa fa-user" title="{{name}} - {{message}} - {{{ fromNow date }}}"></i>
                        {{/if}}
                        <div class='hidden'>{{name}} {{login}} {{message}}</div>
                    {{/each}}
                </td>
                <td class="language">{{language}}</td>
            </tr>
        {{else}}
            <tr class="text-danger">                
                <td colspan="7">No repositories found. Have you added your scm configuration to &lt;install-dir&gt;/conf/private.json?</td>
            </tr>
        {{/each}}        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" class="text-center">
                <ul class="pagination pagination-centered hide-if-no-paging"></ul>
            </td>
        </tr>
    </tfoot>
</table>
